.content {
    margin: 48px auto 56px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: calc(100vh - 104px);
    width: 100%;
}

.searchbar-nav > form {
    background-color: #fff;
    margin: 0;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clear > img {
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin-top: -4px;
    margin-right: -4px;
}

.save__toggle > table > thead > tr > th {
    display: flex;
    flex-direction: row;
}

.searchbar-nav > form > input {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #333;
    margin: 10px 0 8px 0;
    width: 100%;
    outline: none;
    height: 24px;
}

.searchbar-nav > form > button  {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
}

.searchbar-nav > button {
    background: none;
    box-shadow: none;
}

.searchbar > form {
    background-color: #fff;
    margin: 0 8px;
    border-radius: 2px;
    box-shadow: 0 0 16px #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchbar > form > input {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #333;
    margin: 16px 0 16px 16px;
    width: 100%;
    outline: none;
    padding: 8px 16px;
}

.searchbar > form > button > img {
    width: 24px;
    height: 24px;
}

.searchbar > form > button {
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    width: calc(50% - 8px);
}

.types {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    overflow-x: auto;
}

.types > div {
    background-color: #75a478;
    color: #fff;
    padding: 8px 16px;
    border-radius: 16px;
    margin: 8px 4px 4px 4px;
    cursor: pointer;
    font-size: 12px;
}

.types {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.types::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 112px);
}

.home > div {
    width: 100%;
    margin: 8px 0 0 0;
} 

.home > div > button {
    width: calc(50% - 12px);
    margin: 0 2px;
    outline: none;
    border: none;
    padding: 0 0 10px 0;
    cursor: pointer;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
}

.home > div > button:hover {
    box-shadow: 0 0 16px #777;
}

.home > div > button:active {
    box-shadow: none;
}

.home > div > button > img {
    height: 20vh;
    width: calc(100% - 16px);
    border-radius: 2px;
    object-fit: contain;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 16px #ddd;
    cursor: pointer;
    padding-bottom: 8px;
    border-radius: 2px;
    overflow: hidden;
    margin: 8px auto 0 auto;
}

.card:hover {
    box-shadow: 0 0 16px #bbb;
}

.card:active {
    box-shadow: 0 0 16px #ddd;
}

.card > .img {
    width: calc(100% - 32px);
    padding: 16px;
    border-radius: 18px;
    aspect-ratio: 16/9;
}

.card > .like {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 18px;
    width: 18px;
    margin: 18px 16px;
}

.card > h3 {
    padding: 0 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card > p {
    text-align: left;
    padding: 0 16px;
    color: #75a478;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 72px);
}

.detail > h2, .detail > h3, .detail > p, .detail > ul, .detail > div > p {
    padding: 16px;
    background-color: #fff;
    border-radius: 2px;
    margin: 8px 0;
}

.detail > ul > li {
    padding: 8px;
    margin: 0;
    text-align: left;
    list-style: inside;
}

.detail > div > button, .list > div > button, .save > div > form > button, #logout {
    border: none;
    background-color: #a5d6a7;
    cursor: pointer;
    margin: 8px auto;
    border-radius: 100%;
}

.detail > div > button:hover, .list > div > button:hover, .save > div > form > button:hover, #logout:hover {
    background-color: #d7ffd9;
}

.detail > div > button:active, .list > div > button:active, .save > div > form > button:active, #logout:active {
    background-color: #75a478;
}

.list > table {
    background-color: #fff;
    box-shadow: 0 0 16px #ddd;
    padding-bottom: 8px;
    border-radius: 2px;
    padding: 16px;
    margin: 8px auto 0 auto;
    width: 100%;
}

.list > table > tbody > tr > td:nth-child(1), .list > table > thead > tr > th:nth-child(1) {
    border-bottom: 1px solid #333;
    padding: 8px 16px;
}

.list > table > tbody > tr > td > input {
    outline: none;
    border: none;
    width: calc(100% - 32px);
}

.list > table > tbody > tr > td:nth-child(1) {
    text-align: left;
}

.list > table > thead > tr > th:nth-child(1) > h3 {
    margin: 0 auto 8px auto;
}

.save > div > form {
    display: flex;
    flex-direction: column;
}

.save > div > form > div {
    border-radius: 2px;
    box-shadow: 0 0 16px #ddd;
    background-color: #fff;
}

.save > div > form > div > input {
    outline: none;
    border: none;
    height: 32px;
    padding: 0 16px;
    border-bottom: 1px solid #333;
    margin: 8px 16px 16px 16px;
    width: calc(100% - 64px);
    border-radius: 0;
}

.dell {
    background-color: #ef9a9a;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    margin-left: -40px;
}

.dell > img {
    height: 16px;
    width: 16px;
    margin: 6px 6px 2px 6px;
}

#components > tr > td {
    cursor: pointer;
}

#components > tr > td:hover {
    opacity: 0.8;
    box-shadow: 0 0 16px #ddd;
}

#components > tr > td:active {
    opacity: 0.5;
    box-shadow: none;
}



.counters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.counters > div {
    background-color: #fff;
    box-shadow: 0 0 16px #ddd;
    padding: 16px;
    margin: 8px 4px 0 4px;
    border-radius: 2px;
    width: 50%;
}

.feedback {
    background-color: #fff;
    margin: 8px 4px;
    border-radius: 2px;
    box-shadow: 0 0 16px #ddd;
    padding: 0 16px 16px 16px;
    display: flex;
    flex-direction: column;
}

.feedback > label {
    text-align: start;
    margin: 8px;
}

.feedback > input {
    margin-bottom: 16px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #333;
    height: 24px;
    outline: none;
    text-align: start;
}

.feedback > button {
    border: none;
    background-color: #a5d6a7;
    cursor: pointer;
    margin: 24px auto 8px auto;
    border-radius: 100%;
}

.feedback > button:hover {
    background-color: #d7ffd9;
}

.feedback > button:active {
    background-color: #75a478;
}

.user-photo {
    border-radius: 2px;
    margin: 8px auto 0 auto;
    width: calc(100% - 8px);
}

.chat-id > input {
    outline: none;
    border: none;
    height: 32px;
    margin: 16px 4px;
    padding: 0 16px;
    border-bottom: 1px solid #333;
    width: calc(100% - 40px);
    border-radius: 0;
}