* {
    font-family: sans-serif;
    color: #333;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-position: center;
    background-color: #eee;
}

label {
    font-size: 10px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

p, li, input, td {
    font-size: 12px;
}

button {
    box-shadow: 0 0 16px #ddd;
    padding: 8px 8px 4px 8px;
    font-weight: 900;
}

button > img {
    height: 24px;
    width: 24px;
    margin: 8px;
}

nav {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
    background-color: #fff;
    box-shadow: 0 0 16px #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
}

nav > div > h2 {
    margin: auto 0 auto 16px;
}

nav > div {
    display: flex;
    flex-direction: row;
}

nav > div > img {
    height: 40px;
    width: 40px;
    height: 24px;
    width: 24px;
    margin: 12px -10px 0 8px;
    cursor: pointer;
}

nav > div > p {
    margin: auto 4px;
}

nav > div > button {
    border: none;
    cursor: pointer;
    border-radius: 0;
}

nav > div > button > img {
    height: 24px;
    width: 24px;
    margin: 0;
}

footer > button {
    border: none;
    background-color: #a5d6a7;
    cursor: pointer;
    height: 32px;
    margin: auto;
}

footer > button:hover {
    background-color: #d7ffd9;
}

footer > button:active {
    background-color: #75a478;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 56px;
    box-shadow: 0 0 16px #ddd;
    background-color: #fff;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
}

footer > img {
    width: 32px;
    height: 32px;
    margin: 8px;
    cursor: pointer;
}

footer > img:hover {
    width: 36px;
    height: 36px;
    margin: 6px;
    filter: drop-shadow(0 0 16px #333);
}

footer > img:active {
    width: 28px;
    height: 28px;
    margin: 10px;
    filter: none;
}

#gastro-app {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

#tutorial {
    width: 100%;
    margin: 16px auto;
    border-radius: 16px;
    height: calc(100vh - 144px);
    background-color: black;
}

textarea {
    resize: vertical;
    padding: 16px;
}